.input-container {
  border: 1px solid rgb(110, 231, 183);
  border-radius: 0px;
}
.input-container input {
  outline: none;
  border: none;
  width: 100%;
}
.input-container:focus-within {
  border-color: #059669;
}
.menuItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 400px;
  max-width: 95%;
  background-color: #fff;
  padding: 5px 7px;
  margin: 6px;
  color: #059669;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 500;
  cursor: pointer;
}
