*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #059669;
}
*::-webkit-scrollbar-thumb:hover {
  background: #016b4a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.productList .productCard {
  width: 33.333%;
}

.cartList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartItemCard {
  padding-top: 10px;
  width: 400px;
  max-width: 95%;
}
.appMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background-color: #059669ef;
  backdrop-filter: blur(3px);
  clip-path: circle(0.01% at 100% 0);

  /* transition: all 0.3s ease; */
  user-select: none;
}

.appMenu.visible {
  clip-path: circle(200.01% at 100% 0);
}

@media screen and (max-width: 800px) {
  .productList .productCard {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .product-detail-container {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 500px) {
  .productList .productCard {
    width: 100%;
  }
}
