*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #059669;
}
*::-webkit-scrollbar-thumb:hover {
  background: #016b4a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.productList .productCard {
  width: 33.333%;
}

@media screen and (max-width: 800px) {
  .productList .productCard {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .product-detail-container {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 500px) {
  .productList .productCard {
    width: 100%;
  }
}
